<html>
<body ng-app>
    <p>Enter you name:
        <input type="text" ng-model="firstName" />
        <input type="text" ng-model="lastName" />
    </p>
    <p>You have entered: {{ firstName + ' ' + lastName }}</p>
    <div ng-repeat="album in favoriteAlbums">
        <input type="text" ng-model="album.artist" />
        <input type="text" ng-model="album.title" />
    </div>
    <button ng-click="favoriteAlbums.push({})">New album</button>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</body>
</html>